:root {
  --primary-background: #f0f2f5;
  --primary-text: #1c1e21;
  --secondary-background: #fff;
  --secondary-text: #050505;
  --comment-background: #f0f2f5;
  --input-background: #f0f2f5;
  --button-background-color: #e4e6eb;
  --header-background-color: #fff;
  --icon-color: #65676b;
  --divider-color: #ced0d4;
  --divider-color-light: #eff2f5;
  --text-secondary: gray;
  
  /* Dark theme / Header colors */
  --dark-theme-background: #242526;
  --dark-theme-hover: #3a3b3c;
  --dark-theme-text: #e4e6eb;
  --dark-theme-icon: #b0b3b8;

  /* Action colors */
  --active-color: #2e81f4;
  --active-color-hover: #1b74e4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
